<!-- admin.html -->
{% extends 'admin_base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<section class="hero">
    <img src="{{ url_for('static', filename='images/hero-banner.jpg') }}" alt="Hero Banner" class="hero-image">
</section>

<section class="shop-section">
    <h2>Shop Our Products</h2>
    <div class="product-grid">
        {% for product in products %}
        <div class="product-item">
            <img src="{{ url_for('static', filename='images/' ~ product.image) }}" alt="{{ product.name }}">
            <span class="name">
                {{ product.name }}
            </span>

            <span class="price">
                ₹{{ product.price }}
            </span>

            <a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="add_to_cart">
                Add to Cart
            </a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
