<!-- admin_base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin - Cosmetics Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <!-- Header Section -->
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Cosmetics Logo" style="height: 50px;">
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('add_product') }}">Add Product</a></li>
                <li><a href="{{ url_for('add_company') }}">Add Company</a></li>
                <li><a href="{{ url_for('admin_orders') }}">Orders</a></li>
                <li><a href="{{ url_for('admin') }}">Hello Admin!</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>        
    </header>
    <div id="flash-messages" data-messages="{{ get_flashed_messages(with_categories=True) | tojson }}"></div>
    <!-- Main Content Section -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer Section -->
    <footer>
        <p>© 2024 Cosmetics Website | Terms | Privacy | Contact</p>
    </footer>
    <script>
        window.onload = function() {
            const messages = JSON.parse(document.getElementById('flash-messages').dataset.messages);
            messages.forEach(([category, message]) => {
                showFlashMessage(message);
            });
        };
    </script>
</body>
</html>
