{% extends "base.html" %}


{% block content %}
    <section class="companies">
        <h2>{{ category_name }} Companies</h2>
        <div class="company-grid">
            {% for company in companies %}
            <div class="company-item">
                <a href="{{ url_for('search') }}?query={{ company.company_name }}">
                    <img src="{{ url_for('static', filename='images/' ~ company.image) }}" alt="{{ company.company_name }} Logo">
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
