{% extends 'base.html' %}

{% block title %}Saloon Capillus{% endblock %}

{% block content %}
    <section class="best-sellers">
        <h2>Products</h2>
        <div class="product-grid">
            {% for product in products %}
            <div class="product-item" style="text-align: center; margin-bottom: 20px;">
                <img src="{{ url_for('static', filename='images/' ~ product.image) }}" 
                     alt="{{ product.name }}" style="width: 100%; max-width: 250px; height: auto; border-radius: 8px;">
                
                <span class="name">
                    {{ product.name }}
                </span>

                <span class="price">
                    ₹{{ product.price }}
                </span>

                <a href="{{ url_for('add_to_cart', product_id=product.id) }}" 
                   class="add_to_cart">
                    Add to Cart
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
