<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Form</title>

    <!-- Boxicons CDN -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>

<body>
    <div class="wrapper">
        <span class="rotate-bg"></span>
        <span class="rotate-bg2"></span>

        <div class="form-box register">
            <h2 class="title">Sign Up</h2>
            <form action="{{ url_for('signup') }}" method="POST">

                <div class="input-box">
                    <input type="text" id="username" name="username" required>
                    <label for="username">Username</label>
                    <i class='bx bxs-user'></i>
                </div>

                <div class="input-box">
                    <input type="email" id="email" name="email" required>
                    <label for="email">Email</label>
                    <i class='bx bxs-envelope'></i>
                </div>

                <div class="input-box">
                    <input type="tel" id="phone" name="phone" required>
                    <label for="phone">Phone Number</label>
                    <i class='bx bxs-phone'></i>
                </div>

                <div class="input-box">
                    <input type="password" id="password" name="password" required>
                    <label for="password">Password</label>
                    <i class='bx bxs-lock-alt'></i>
                </div>

                <div class="input-box">
                    <input type="password" id="confirm-password" name="confirm-password" required>
                    <label for="confirm-password">Confirm Password</label>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                
                <button type="submit" class="btn">Sign Up</button>
                <div class="linkTxt">
                    <p>Already have an account? <a href="login" class="register-link">Login</a></p>
                </div>
            </form>
        </div>

        <div class="info-text register">
            <h2>Join Us!</h2>
            <p>Create an account to enjoy our exclusive features and offers.</p>
        </div>
    </div>
</body>
</html>
